{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/cust_reg_form.css' %}">
    <title>Farmcorps signup</title>
</head>
<body>
    <!-- row containing logo -->
    <div class="container-fluid logo-container-div">
        <div class="row">
            <div class="col-2 d-flex justify-content-center container-fluid">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="250" height="100" alt="farmcorps logo"></a>
            </div>
        </div>
    </div>
    <!-- customer registration form -->
    <div class="container customer-signup-form-div">
      <!-- row containinig form items -->
        <div class="row">
          <!-- dummy div for alining form to center  -->
            <div class="col-2"></div>
            <form class="col-8">
                <!-- name segment -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>First Name</label>
                      <input type="text" class="form-control" id="inputFirstName">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Last Name</label>
                      <input type="text" class="form-control" id="inputSecondName">
                    </div>
                  </div>
                <!-- name segment -->

                <!-- email and mobileNumber -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" id="inputMobile">
                  </div>
                </div>
                <!-- email and mobileNumber -->

                <!-- password -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword2">
                  </div>
                </div>
                <!-- password -->

                <!-- address field -->
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label>State</label>
                    <select class="form-control id=inputState" name="states">
                      <option selected>Kerala</option>
                      <option>TamilNadu</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Pin</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <!-- address field -->

                <!-- terms and conditions check box -->
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                    <label class="form-check-label">
                      By continuing, you agree to Farmcorps's <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice</a>.
                    </label>
                    <!-- terms and conditions check box -->
                  </div>
                </div>
                <!-- button as a seperate row to position at center -->
                <div class="row justify-content-center">
                  <div class="col-  "><button type="submit" class="btn btn-success">Sign up</button></div>
                </div>
                
              </form>
            <!-- dummy div for alining form to center  -->
            <div class="col-2"></div>
        </div>
    </div>
     <!-- customer registration form -->
     <div><p align="center" style="color:white;font-family:Verdana, Geneva, Tahoma, sans-serif">already have an account?<a href="{% url 'signin' %}">Signin</p></div>
     

</body>
</html> 