{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style/header.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.png'%}" >
    <title>Farmcorps</title>
</head>
<body>
  <!-- navigation bar with logo -->
  <nav class="navbar navbar-expand-lg navbar-dark container-fluid fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="150" height="50" alt="farmcorps logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarmenu">
      <form class="form-inline my-2 my-lg-0 col-md-8">
        <div class="input-group col-md-8">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary btn-outline-success" type="button"><i class="fa fa-search"></i></i></button>
            </div>
        </div>
      </form>
      <div class="col-md-2 "><button type="button" class="btn btn-success col-md-6">Signin</button></div>
      <i class="fa fa-truck" style="font-size:50px;color: #28a745;"></i>
    </div>
  </nav>
  <!-- navigation bar with logo -->

  <!-- base navigation bar for category selection -->
  <ul class="nav nav-tabs base-nav">
    <!-- first dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Vegetables</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tomato</a>
        <a class="dropdown-item" href="#">Onion</a>
        <a class="dropdown-item" href="#">Potato</a>
        <div class="dropdown-divider">Garlic</div>
        <a class="dropdown-item" href="#">cauliflower</a>
      </div>
    </li>
    <!-- first dropdown -->
    <!-- second dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Fruits</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Mango</a>
        <a class="dropdown-item" href="#">Apple</a>
        <a class="dropdown-item" href="#">Banana</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Orange</a>
        <a class="dropdown-item" href="#">Grape</a>
      </div>
    </li>
    <!-- second dropdown -->
    <!-- third dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Flowers</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Rose</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Tulip</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Orchid</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Marigold</a>
      </div>
    </li>
    <!-- third dropdown -->
  </ul>
  <!-- base navigation bar for category selection -->
</body>
</html>