{% extends 'customer/customer_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/customer/checkout.css' %}">
<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- page heading -->
        <div class="col-md-9 d-flex justify-content-between page-heading">
            <h2>My Order <span style="color: grey;">(4 items)</span></h2>
            <a href="{% url 'wishlist' %}"><p><i class="fa fa-plus" style="font-size:15px"></i>Add from wishlist</p></a>
        </div>

        <!-- row -->
        <div class="container col-md-9 checkout-container">
            <div class="row checkout-view">
            <!-- image -->
            <div class="col-md-2"><img class="img-fluid" src="{% static 'images/vegetables.jpg' %}" alt=""></div>
            <!-- image -->

            <!-- prodect description -->
            <div class="col-md-3">Product description Lorem ipsum dolor sit.</div>
            <!-- prodect description -->

            <!-- order quantity -->
            <div class="col-md-2 d-flex justify-content-center qty-details"><h2>quantity:1000kg</h2></div>
            <!-- order quantity -->

            <!-- updating quantity -->
            <div class="col-md-2 qty-update-div">
                <input type="text" class="form-control" placeholder="Qty">
                <a href="{% url 'checkout' %}"><button type="button" class="btn btn-success btn-lg btn-block qty-update-btn">Update</button></a>
            </div>
            <!-- updating quantity -->

            <!-- order price -->
            <div class="col-md-3 price-tag">
                <div class=""><h3>RS.15000</h3></div>
                <div class=" d-flex justify-content-between">
                    <button class="delete-btn"><i class="fa fa-trash-o" style="font-size:24px"></i></button>
                    <button class="add-to-wishlist-btn"><span><i class="fa fa-plus" style="font-size:15px"></i> wishlist</span></button>
                </div>
            </div>
            <!-- order price -->
            </div> 

            

            <div class="row checkout-view">
                <!-- image -->
                <div class="col-md-2"><img class="img-fluid" src="{% static 'images/vegetables.jpg' %}" alt=""></div>
                <!-- image -->
    
                <!-- product description -->
                <div class="col-md-3">Product description Lorem ipsum dolor sit.</div>
                <!-- product description -->
    
                <!-- order quantity -->
                <div class="col-md-2 d-flex justify-content-center qty-details"><h2>quantity:1000kg</h2></div>
                <!-- order quantity -->
    
                <!-- updating quantity -->
                <div class="col-md-2 qty-update-div">
                    <input type="text" class="form-control" placeholder="Qty">
                    <a href="{% url 'checkout' %}"><button type="button" class="btn btn-success btn-lg btn-block qty-update-btn">Update</button></a>
                </div>
                <!-- updating quantity -->
    
                <!-- order price -->
                <div class="col-md-3 price-tag">
                    <div class=""><h3>RS.15000</h3></div>
                    <div class=" d-flex justify-content-between">
                        <button class="delete-btn"><i class="fa fa-trash-o" style="font-size:24px"></i></button>
                        <button class="add-to-wishlist-btn"><span><i class="fa fa-plus" style="font-size:15px"></i> wishlist</span></button>
                    </div>
                </div>
                <!-- order price -->
                </div> 



        </div>
        <!-- row    -->

        <!-- total amount details -->
        <div class="row col-md-3">
    
            <div class="col-md-12 page-heading">

                <div class="order-total-heading"><h3>Order Details</h3></div>
                <div class="d-flex justify-content-between "><h3>Order total:</h3><h3>1500000</h3></div>
                <div class="d-flex justify-content-between "><h3>Delivery:</h3><h3>FREE</h3></div>
                <div class="d-flex justify-content-between "><h3>Total Amount:</h3><h3>13000000</h3></div>
                <div class="proceed-to-shipping-div" ><a href="{% url 'address' %}"><button type="button" class="btn btn-success btn-lg btn-block proceed-to-shipping-button">PROCEED TO SHIPPING</button></a>
                </div>
       
            </div>
    

        </div>
        <!-- total amount details -->    

    </div>
    <!-- row -->
    
</div>
<!-- container -->
{% endblock %}