.nav-bar{
    background-color: 		#232B2B;
    border: 1px solid black;
}
.seller-heading{
    margin: 0px;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    color: rgb(255, 255, 255);
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 150px;
      }

      .dropdown .dropdown-content:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 15px;
        border-width: 0 6px 6px 6px;
        border-style: solid;
        border-color: #fff transparent;    
    }
    .dropdown .dropdown-content:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 13px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: rgba(0,0,0,0.1) transparent;    
    }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        
        min-width: 160px;
        width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: small;
        font-family: inherit;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      .sidenav-head{
        background-color: #232B2B;
        height:67px;
      }
     

      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f8f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(0, 0, 0);
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #000000;
        text-decoration: none;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        text-decoration: none;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .search-bar input[type='text']{
          border-radius: 0px;
          background-color: rgba(0,130,150,.6);
          color: white;
          border:1px solid rgba(0,130,150,.6);
          
          
      }
      .search-bar input[type='text']::placeholder {  
                  
        /* Firefox, Chrome, Opera */ 
        
        color: white;
    } 


    .dropdown-add-product {
      position: relative;
      display: inline-block;
      
    }

    .dropdown-add-product .dropdown-content-add-product:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      border-width: 0 6px 6px 6px;
      border-style: solid;
      border-color: #f1f1f1;    
  }
  .dropdown-add-product .dropdown-content-add-product:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      left: 90px;
      border-width: 0 8px 8px 8px;
      border-style: solid;
      border-color: rgba(0,0,0,0.1) transparent;    
  }

  .dropdown-content-add-product {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-left: 20px;
    min-width: 160px;
    width: 250px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content-add-product a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
    font-family: inherit;
  }
  
  .dropdown-content-add-product a:hover {background-color: #ddd;}
  
  .dropdown-add-product:hover .dropdown-content-add-product {display: block;}