body{
    background-color: #000000;
}
.logo-container-div{
    margin-bottom: 50px;
}
.customer-signup-form-div{
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.create-new-account-btn{
    background-color:#4CAF50 ;
    color: black;
}
.create-new-account-btn:hover{
    background-color: white;
    color: black
    
}
input[type=text]{
    border: 0px;
}
input[type=text]:focus{
    box-shadow: none;
}