{% extends 'adm/admin_master.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/manage_request.css' %}">

<!-- heading -->
<div class="container-fluid heading">
    <div class="row">
        <div class="col-md-3"><h2>Verify New Logistics Accounts</h2></div>
        <!-- search field -->
            <div class="col-md-9 d-flex justify-content-end">
              <div>
                <div class="input-group">
                  <div class="form-outline">
                    <input id="search-input" type="search" id="form1" class="form-control" />
                  </div>
                  <button id="search-button" type="button" class="btn btn-dark">
                    <i class="fa fa-search"></i>
                  </button>
              </div>
            </div>
          </div>
    </div>

</div>
<!-- heading -->



<table class="table table-hover table-borderless table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Logistics ID</th>
        <th scope="col">Owner Name </th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">PAN</th>
        <th scope="col">Bank Account & IFSC Code </th>
        <th scope="col">Transport name</th>
        <th scope="col">state</th>
        <th scope="col">PIN</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>john</td>
        <td>logistics@farmcorps.com</td>
        <td>1234567890</td>
        <td>kv-34567890</td>
        <td>
          <div>1123243321233212</div>
          <div>fdl01kzd11</div>
        </td>
        <td>express logistics</td>
        <td>Kerala</td>
        <td>666666</td>
        <td>
          <div><button type="button" class="btn btn-success btn-sm">Accept</button></div>
          <div><button type="button" class="btn btn-danger btn-sm">Decline</button></div>
        </td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>john</td>
        <td>logistics@farmcorps.com</td>
        <td>1234567890</td>
        <td>kv-34567890</td>
        <td>
          <div>1123243321233212</div>
          <div>fdl01kzd11</div>
        </td>
        <td>express logistics</td>
        <td>Kerala</td>
        <td>666666</td>
        <td>
          <div><button type="button" class="btn btn-success btn-sm">Accept</button></div>
          <div><button type="button" class="btn btn-danger btn-sm">Decline</button></div>
        </td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>john</td>
        <td>logistics@farmcorps.com</td>
        <td>1234567890</td>
        <td>kv-34567890</td>
        <td>
          <div>1123243321233212</div>
          <div>fdl01kzd11</div>
        </td>
        <td>express logistics</td>
        <td>Kerala</td>
        <td>666666</td>
        <td>
          <div><button type="button" class="btn btn-success btn-sm">Accept</button></div>
          <div><button type="button" class="btn btn-danger btn-sm">Decline</button></div>
        </td>
      </tr>

    </tbody>
  </table>

{% endblock %}