{% extends 'adm/admin_master.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/admin_home.css' %}">
<div class="container analytics-container">
    <div class="row">
        <div class="col-md-4 analytics-container-item gap">
            <div class="d-flex justify-content-center"><h2>total Customers</h2></div>
            <div class="d-flex justify-content-center"><h1>100000</h1></div>
        </div>

        <div class="col-md-3 analytics-container-item gap">
            <div class="d-flex justify-content-center"><h2>total Sellers</h2></div>
            <div class="d-flex justify-content-center"><h1>10000000000</h1></div>
        </div>

        <div class="col-md-4 analytics-container-item gap">
            <div class="d-flex justify-content-center"><h2>total logistics</h2></div>
            <div class="d-flex justify-content-center"><h1>100000000000000</h1></div>
        </div>
        
    </div>
</div>
{% endblock %}