{% extends 'adm/admin_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/edit_pages.css' %}">
<div class="container change-credentials">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!-- change username -->
            <label class="profile-label">Username*</label>
            <div class="input-group mb-3">
                <input type="email" class="form-control"  value="name@gmail.com" disabled>
                <div class="input-group-append">
                    <button class="change-btn" type="button" id="button-addon2" data-toggle="modal" data-target="#exampleModalCenter">CHANGE</button>
                </div>

                    <!-- modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Enter New Username</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              </div>
                              <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-lg btn-block">SAVE NEW USERNAME</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- modal -->

            </div>
         <!-- change username -->


 <!-- change password -->
 <label class="profile-label">Password*</label>
 <div class="input-group mb-3">
     <input type="password" class="form-control"  value="12345678" disabled>
     <div class="input-group-append">
         <button class="change-btn" type="button" id="button-addon2" data-toggle="modal" data-target="#passwordChange">CHANGE</button>
     </div>

         <!-- modal -->
     <div class="modal fade" id="passwordChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalCenterTitle">Enter New Password</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <form action="">
                
                   <div class="form-group">
                     <label for="exampleInputPassword1">Enter Password</label>
                     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                   </div>
               </form>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-success btn-lg btn-block">SAVE NEW PASSWORD</button>
             </div>
           </div>
         </div>
       </div>
         <!-- modal -->

    </div>
 <!-- change password -->
           






        </div>

        



        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}