{% extends 'adm/admin_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/edit_pages.css' %}">

<div class="container change-content-div">
    <div class="row">
        <h2>Change Home page contents</h2>
    </div>
    <div class="row d-flex justify-content-center">
     
        <div class="col-md-12">
            <h4>carousel</h4>
            <form>
                <div class="form-group row">
                    <label class="col-4 col-form-label">carousel image-1:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">carousel image-2:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">carousel image-3:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>
            </form>

            <h4>Grid Gallery</h4>

            <form>
                <div class="form-group row">
                    <label class="col-4 col-form-label">vegetables image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">fruits image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">spices image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">flowers image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">cereals image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">pulses image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">plantation crops image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">Livestock image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-4 col-form-label">medicinal herbs image:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>
            </form>


        </div>
       
    </div>
</div>
{% endblock %}