{% extends 'adm/admin_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/edit_pages.css' %}">

<div class="container change-content-div">
    <div class="row">
        <h2>Change logistics page contents</h2>
    </div>
    <div class="row d-flex justify-content-center">
     
        <div class="col-md-12">
            <h4>Banner</h4>
            <form>
                <div class="form-group row">
                    <label class="col-4 col-form-label">banner video:</label>
                    <div class="col-8">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </div>

            </form>

            
        </div>
       
    </div>
</div>
{% endblock %}