{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/admin_master.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-dark navbar-expand-lg nav-bar fixed-top">
        <!-- toggle on the left for side navigation -->
        <div class="side-toggle"><div id="mySidenav" class="sidenav">
            <!-- sidenav contents -->
            <!-- sidenav close button -->
            <div class="sidenav-head">
              <div><a href="{% url 'landing' %}"><img src="{% static 'images/logo.png' %}" width="150" height="50" alt="farmcorps logo"></a>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color:white;">&times;</a></div>
              
            </div>

            <!-- sidenav contents -->
            <button id="sellerClick" class="toggle-btn">Manage Sellers</button>
                <div id="sellerContent" class="content-div" style="display: none;">
                    <a href="{% url 'adminViewSeller' %}">View All sellers</a>
                    <a href="{% url 'adminVerifySeller' %}">Verify new Sellers</a>
                    <a href="{% url 'adminSuspendedSeller' %}">View Suspended Sellers</a>
                    <a href="{% url 'adminEditSellerPage' %}">Change page assets</a>

                </div>

                <button id="logisticsClick" class="toggle-btn">Manage Logistics</button>
                <div id="logisticsContent" class="content-div" style="display: none;">
                    <a href="{% url 'adminViewLogistics' %}">View All logisticss</a>
                    <a href="{% url 'adminVerifyLogistics' %}">Verify new logistics</a>
                    <a href="{% url 'adminSuspendedLogistics' %}">View Suspended logistics</a>
                    <a href="{% url 'adminEditLoisticsPage' %}">Change page assets</a>
                </div>

                <button id="homeClick" class="toggle-btn">Manage home</button>
                <div id="homeContent" class="content-div" style="display: none;">
                    <a href="{% url 'adminEditHomePage' %}">change home assets</a>
                </div>
          </div>

          <!-- sidenav contents -->

          <!-- toggle icon -->
          <span style="font-size:24px;cursor:pointer;color: rgb(255, 255, 255);" onclick="openNav()">&#9776;</span>
        </div>

           <!-- collapse button for responsive mobile view -->
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- contents on navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="mx-5 my-auto d-inline w-100 d-flex justify-content-center"><!-- navbar logo -->
                <div><a href="{% url 'logisticsLanding' %}"><img class="mx-5" src="{% static 'images/logo.png' %}" width="150" height="50" alt="farmcorps logo"></a></div>
            </div>


            <!-- account info dropdown -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                        
                        <div class="dropdown">
                            <div><i class="fa fa-users dropbtn" style="font-size:24px;color: rgb(255, 255, 255);padding-top: 10px;"></i></div>
                          <div class="dropdown-content">
                            <a href="{% url 'adminChangeCredentials' %}">change login credentials</a>
                            <a href="{% url 'fcadminLogin' %}">Log Out</a>
                          </div>
                        </div>
                </li>

                 
                  
            </ul>
            <!-- account info dropdown -->

        </div>
        <!-- contents on navbar -->
    </nav>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          // document.body.style.opacity = "0.6";
         
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          // document.body.style.opacity = "1";
        }
        </script>
        <script>
            $(document).ready(function(){
        $('#sellerClick').click(function(){
            $("#sellerContent").toggle();
        })
        })
        </script>
        <script>
            $(document).ready(function(){
        $('#logisticsClick').click(function(){
            $("#logisticsContent").toggle();
        })
        })
        </script>

        <script>
            $(document).ready(function(){
        $('#homeClick').click(function(){
            $("#homeContent").toggle();
        })
        })
        </script>
    {% block content %}{% endblock %}
  {% include 'reseller/reseller_footer.html' %}
</body>
</html>