{% extends 'reseller/reseller_master.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/manage_order.css' %}">
<div class="heading"><h2>Manage Orders</h2></div>
<table class="table table-hover table-borderless table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Order Time</th>
        <th scope="col">Order Qty</th>
        <th scope="col">Order Amount</th>
        <th scope="col">Buyer Details</th>
        <th scope="col">Confirmation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>Tomato</td>
        <td>01/02/2022,9:00 pm</td>
        <td>500 kg</td>
        <td>5000 RS</td>
        <td><button type="button" class="btn btn-danger btn-sm" onclick="printDiv()"><i class="fa fa-file-pdf-o" style="font-size:18px"></i>&nbspPrint</button></td>
        <td><button type="button" class="btn btn-success btn-sm">Confirm</button></td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>Tomato</td>
        <td>01/02/2022,9:00 pm</td>
        <td>500 kg</td>
        <td>5000 RS</td>
        <td><button type="button" class="btn btn-danger btn-sm" onclick="printDiv()"><i class="fa fa-file-pdf-o" style="font-size:18px"></i>&nbspPrint</button></td>
        <td><button type="button" class="btn btn-success btn-sm">Confirm</button></td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>Tomato</td>
        <td>01/02/2022,9:00 pm</td>
        <td>500 kg</td>
        <td>5000 RS</td>
        <td><button type="button" class="btn btn-danger btn-sm" onclick="printDiv()"><i class="fa fa-file-pdf-o" style="font-size:18px"></i>&nbspPrint</button></td>
        <td><button type="button" class="btn btn-success btn-sm">Confirm</button></td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>Tomato</td>
        <td>01/02/2022,9:00 pm</td>
        <td>500 kg</td>
        <td>5000 RS</td>
        <td><button type="button" class="btn btn-danger btn-sm" onclick="printDiv()"><i class="fa fa-file-pdf-o" style="font-size:18px"></i>&nbspPrint</button></td>
        <td><button type="button" class="btn btn-success btn-sm">Confirm</button></td>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>12345678</td>
        <td>Tomato</td>
        <td>01/02/2022,9:00 pm</td>
        <td>500 kg</td>
        <td>5000 RS</td>
        <td><button type="button" class="btn btn-danger btn-sm" onclick="printDiv()"><i class="fa fa-file-pdf-o" style="font-size:18px"></i>&nbspPrint</button></td>
        <td><button type="button" class="btn btn-success btn-sm">Confirm</button></td>
      </tr>

     
      
    </tbody>
  </table>
  <section class="order-details" id="buyer" style="display: none;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div><img src="{% static 'images/logo.png' %}" width="250" height="150" alt="farmcorps logo"></div>
        </div>

        <div class="row d-flex justify-content-start"><h4>Tax Invoice/Bill Of Supply/Cash Memo</h4></div>
        <div class="row ">

            <div class="col-md-6 d-flex justify-content-start">
                <div><h4>Sold By:</h4></div>
                <div class="col-md-6">
                    U.S. Department of Agriculture
                    Farm Service Agency
                    Office of the Administrator
                    1400 Independence Ave., S.W.
                    Washington, DC, 20250-0506
                </div>
            </div>


            <div class="col-md-6 d-flex justify-content-end">
                <div><h4>Billing Address:</h4></div>
                <div class="col-md-6">
                    <div class="cust-address-name">Customer Name</div>
                    <div>Street:  Shop No 1, Shayayog Building, Luis Wadi ,
    
                        City:   Mumbai
                        
                        State:    Maharashtra
                        
                        Phone number  03225829632
                        
                        Zip code  400604
                        
                    </div>
                </div>
            </div>

        </div>


        <div class="row ">
            
            <div class="col-md-6">
                <div><h4>Order ID:</h4></div>
                <div class="col-md-6">
                    12345678
                </div>

                <div><h4>Order Date:</h4></div>
                <div class="col-md-6">
                    01/02/2022,9:00 pm
                </div>
            </div>


            <div class="col-md-6 d-flex justify-content-end">
                <div><h4>Shipping Address:</h4></div>
                <div class="col-md-6">
                    <div class="cust-address-name">Customer Name</div>
                    <div>Street:  Shop No 1, Shayayog Building, Luis Wadi ,
    
                        City:   Mumbai
                        
                        State:    Maharashtra
                        
                        Phone number  03225829632
                        
                        Zip code  400604
                        
                    </div>
                </div>
            </div>

        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sl No:</th>
                <th scope="col">Product ID</th>
                <th scope="col">Product Description</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>12345678</td>
                <td>premium quality HS-101 Tomato</td>
                <td>10/kg</td>
                <td>500kg</td>
                <td>5000</td>
              </tr>

              <tr>
                <th scope="row">1</th>
                <td>12345678</td>
                <td>premium quality HS-101 Tomato</td>
                <td>10/kg</td>
                <td>500kg</td>
                <td>5000</td>
              </tr>
            </tbody>
            <tr>Total</tr>
          </table>

<div class="container">
                  <div class="row">
                      <div class="col-md-12 d-flex justify-content-end"><h4>Total amount:RS 10000</h4></div>
                  </div>
              </div>

    </div>
  </section>
  

  <script>
      function printDiv(buyer) {
       var printContents = document.getElementById('buyer').innerHTML;
       var originalContents = document.body.innerHTML;
       document.body.innerHTML = "<html><head><title></title></head><body>" + printContents + "</body>";
       window.print();
       document.body.innerHTML = originalContents;
   }
  </script>

{% endblock %}