.edit-page-heading h2{
    font-size: 44px;
    font-weight:400;
    padding: 20px;
}
.edit-page-heading{
    margin-top: 100px;
    margin-bottom: 20px;
}


.grid-container p{
    text-align: center;
    margin: 0;
    }
    .grid-container h6{
        text-align: center;
        margin: 0;
    }
    .min-qty{
        font-size: 12px;
        margin: 0px;
    }
    .product-description{
        font-size:medium;
        font-weight:400;
        color: #333;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    .grid-item{
        border: 1px solid #afacac;
        
    }

    .modify-btn-div{
        padding: 10px 10px 10px 10px ;
    }
    
    .modify-btn-div button{
        font-size: 16px;
        border-radius: 5px;
        background-color:  rgb(36, 67, 71);
        color: white;
        box-shadow: none;
    }
    .modify-btn-div button:hover{
        background-color:rgb(36, 67, 71);;
        color: white;
    }
    .modify-btn-div button:focus{
        box-shadow: none;
    }
    .col-md-3{
        margin-bottom:10px;
    }
    .close button{
        background-color: transparent;
    }
    .close :hover{
        background-color: transparent;
    }