
.page-heading h2{
font-size: 14px;
font-weight: 700;
}
.page-heading h3{
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0;
}
.qty-update-div a{
text-decoration: none;
}
.qty-details h2{
font-size: 16px;    
}
.qty-update-btn{
    height: 30px;
    font-size: small;
    text-align: center;
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
}
.price-tag h3{
    border-left: 5px solid #176c93;
    font-size: medium;
    background-color: #e1ecf1;
}
.checkout-view{
    margin-bottom: 50px;
}

/* order total block */

.order-total-heading{
    background-color: antiquewhite;
   
}
.proceed-to-shipping-div a{
    text-decoration: none;
}
.proceed-to-shipping-button{
    font-size: small;
}
a{
    text-decoration: none;
}