.main-heading h2{
    font-size: 18px;
    font-weight: 700;
    }
    .sub-heading{
        padding: 10px;
    
    }
    .sub-heading a{
      text-decoration: none;
    
    }
    
    .sub-heading h2{
        font-size: 16px;
        color: grey;
    }
    .add-address-btn{
        background-color: transparent;
        color: #28a745;
        font-size: 18px;
        border: 0px;
        box-shadow: none;
    }
    .add-address-btn:hover{
        background-color: transparent;
        color: #28a745;
        font-size: 18px;
        border: 0px;
        box-shadow: none;
    }